:root{

    /*-------------------------------
    COLORS
    ------------------------------*/
    --primary-color: #20ad96;
    --secondary-color : #1F1F52;
    --terziary-color : lightgrey;
   
    }